{% extends "base.html.twig" %}

{% block title %}
Password Forgotten
{% endblock title %}

{% block body %}

<div class="relative flex flex-col items-center h-screen overflow-hidden m-10 text-black">
    <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-700 mb-5">Password Forgotten</h1>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
</div>

{% endblock body %}