{% extends "base.html.twig" %}

{% block title %}
{{tabTitle}}
{% endblock title %}

{% block body %}
<div class="relative flex flex-col items-center justify-center h-[calc(100vh-140px)] overflow-hidden text-black">
    <div class="w-full p-6 bg-white border-t-4 border-gray-600 rounded-md shadow-md border-top lg:max-w-lg">
        <h1 class="text-3xl font-semibold text-center text-gray-700">
            {{actionType}}
        </h1>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new TomSelect('.tom-select', {
            create: false,
            sortField: {
                field: "text",
                direction: "asc"
            },
            plugins: ['remove_button']
        });
    });
</script>
{% endblock body %}