<!DOCTYPE html>
<html class="min-h-screen"
  style="background: #000000;
background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(133, 133, 133, 1) 50%, rgb(180, 180, 180) 100%);">

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>" />

  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">

  <!-- Tom Select JS -->
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>

  {% include "partials/navbar.html.twig" %}
</head>

<body>
  <div>

    {% block body %}{% endblock %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new TomSelect('.tom-select', {
        create: false,
        sortField: {
          field: "text",
          direction: "asc"
        },
        plugins: ['remove_button']
      });
    });
  </script>
</body>



{% include "partials/footer.html.twig" %}

</html>