<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon" href="{{ asset('images/logo.png') }}" alt="Neo Blog Logo" class="rounded-full" />

  {# Google Font Links #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  {# Tailwind & DaisyUI CDN Links #}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  {# Tom Select for a clean Tag Selection #}
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
  <!-- Tom Select JS -->
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
  {# TypeIt Js CDN Link #}
  <script src="https://cdn.jsdelivr.net/npm/typeit@8.7.1/dist/index.umd.js"></script>
  {# Animation On Scroll CDN Link #}
  <script defer src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Make sure AOS is loaded before initializing
      if (typeof AOS !== 'undefined') {
        AOS.init();
      }
    });
  </script>
  {# Alpine JS CDN Link #}
  <script defer src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js"></script>


  <style>
    .lato-thin {
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-style: normal;
    }

    .lato-light {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .lato-regular {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .truncate-content {
      position: relative;
      height: 12rem;
      overflow: hidden;
    }

    .truncate-content::after {
      font-size: larger;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      background: linear-gradient(to bottom, #364153, #ffffff44);
    }

    /* Hide elements with x-cloak until Alpine.js loads */
    [x-cloak] {
      display: none !important;
    }
  </style>
  {% block javascripts %}

  {% endblock javascripts %}

  {% include "partials/navbar.html.twig" %}
</head>

<body class="bg-black text-white">
  <div class="min-h-screen lato-regular">

    {% block body %}{% endblock %}

  </div>


</body>



{% include "partials/footer.html.twig" %}

</html>